CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vscode
build/*
vs2015/*

*.user
*.user.*
*.autosave

doc/*.aux
doc/*.log
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
